{{!-- navbar --}}
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Mongo Scraper</a>
  <ul class="navbar-nav">
    <li class="nav-item active">
    <a class="nav-link float" href="/">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link float" href="/saved">Saved Articles<span class="sr-only">(current)</span></a>
    </li>
</nav>

{{!-- jumbotron --}}
<div class="jumbotron text-center">
    <div class="overlay"></div>
    <div class="background-image"></div>
    <div class="caption">
        <h1 class="display-4">Saved Articles</h1>
    </div>
</div>

{{!-- Modal --}}
<div class="hidden" id="my-modal">
  <div class="card">
    <div class="card-content">
      <div class="card-header">
      <button type="button" class="close closer right-float">&times;</button>
      <h4 class="card-title text-center">Article Notes</h4>
      <h5 id="article-title text-center"></h5>
    </div>
    <div class="card-body" id="appendModalBody">
      <ul id="noted-stuff"></ul>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-default closer right-float" data-dismiss="modal">Close</button>
    </div>
    </div>
  </div>
</div>

{{!-- Saved articles go here --}}
<div class="container-fluid saved-article-container"></div>