html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}

.navbar {
  margin-bottom: 0;
}

.content {
    flex: 1 0 auto;
}

/* jumbotron styling */
.jumbotron {
  position: relative;
  width: 100%;
  height: 300px;
  padding: 0;
  box-shadow: 10px 5px 20px 2px lightslategrey 
}

.jumbotron .overlay {
  background: linear-gradient(#f5f5f5, black);
  position: absolute;
  opacity: 0.7;
  z-index: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.jumbotron .background-image {
  height: 100%;
  background-image: url("../images/newspaper.jpg");
  background-size: cover;
}

.jumbotron .caption {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
}

.jumbotron .caption h1,
.jumbotron .caption p {
  color: white;
}

.jumbotron h1 {
  font-size: 80px;
  font-weight: 800;
}

.jumbotron p {
  font-size: 30px;
}

/* card styling */
.article-container {
  padding-bottom: 25px;
}

.card {
  border-radius: 0;
  box-shadow: 3px 3px 20px lightslategrey;
  margin: 20px 0;
}

/* footer styling */
.footer > .container > p {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin: 0;
  font-weight: 800;
  background: #0c7cd5;
}

/* navbar styling */
.navbar-nav > li > a.scrape-new,
.navbar-nav > li > a.clear {
  margin-left: 10px;
  font-weight: 800;
  color: white;
}

.navbar-nav > li > a.scrape-new:hover,
.navbar-nav > li > a.clear:hover {
  background: #4caf50;
  outline-color: #4caf50;
}

.navbar-nav > li > a.scrape-new:active {
  background: #e51c23;
}

.card > .card-body > a.scrape-new {
  cursor: pointer;
  /* margin-left: 5px; */
  color:white;
}

/* modal */
textarea {
  padding: 10px;
  resize: none;
  width: 100%;
}

.note {
  padding: 10px;
  resize: none;
  width: 100%;
}

.note.list-group-item .btn {
  position: relative;
  bottom: 10px;
}

.right-float {
  float: right;
}

.delete .notes {
  margin-top: 5px;
}

.delete {
  margin-left: 1em;
}

#my-modal{
  position: absolute;
  top: 5%;
  right: 25%;
  z-index: 1000;
  width: 400px;
  height: auto;
}

.note-delete {
  padding-top: 0;
  padding-bottom: 0;
}

.card-footer {
  padding-top: 0;
}

#moodChange {
  background: #444;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.hidden {
  display: none;
}

/* add media query for modal */
@media only screen and (max-width: 600px) {
  .content > div.jumbotron {
    height: 160px;
    margin-bottom: 0;
  }
  
  .jumbotron > .caption > h1.display-4 {
    /* margin-top: 5px; */
    font-size: 60px;
    font-weight: 800;
    line-height: 1;
  }

  #my-modal {
    top: 1%;
    right: 1%;
    width: 98%;
    height: auto;
  }

  .card-body > .btn {
    margin-top: 5px;
  }

  .notes .delete {
    margin: 2px 0 0 0;
  }

  .navbar > a.scrape-new {
    margin-left: 0;
    display: block;
    float: left;
  }
}